doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Rest Client
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script.
      function getAll() {
      $.get("http://localhost:8080/api/bills/", function(data, status) {
      $('#responseBody').html(JSON.stringify(data));
      $('#responseStatus').html(status);
      });
      }
      function getBill() {
      $.get("/api/bills/" + $("#idInput").val(), function(data, status) {
      $('#responseBody').html(JSON.stringify(data));
      $('#responseStatus').html(status);
      }).fail(function(xhr, status, error) {
      $('#responseStatus').html(status);
      $('#responseBody').html(error);
      });
      }
      function postBill() {
      var input = JSON.parse($("#body").val());
      if(input.id === undefined || input.id === null || input.totalPrice === undefined || input.products === undefined || input.products === [])
      {
      return;
      }

      var realInput = JSON.stringify(input);

      $.ajax({
      type:'POST',
      url: "http://localhost:8080/api/bills/",
      dataType : "json",
      contentType: 'application/json; charset=utf-8',
      data: realInput,
      success: function() {
            $('#responseBody').html("Bill created successfully!");
        },
      fail: function(){
          $('#responseStatus').html(status);
          $('#responseBody').html(error);
      }
      });
      $('#responseStatus').html("");
      $('#responseBody').html("");
      }
      
      function deleteAll() {
      $.ajax({
      type:'DELETE',
      url: "http://localhost:8080/api/bills/",
      success: (msg) => {
      $('#responseStatus').html("All bills deleted!");
      $('#responseBody').html("");
      },
      fail: (xhr, status, error) =>{
      $('#responseStatus').html(status);
      $('#responseBody').html(error);
      }
      });
      }
      function deleteBill() {
      $.ajax({
      type:'DELETE',
      url: "http://localhost:8080/api/bills/" + $("#idInput").val() ,
      success: (msg) => {
      $('#responseStatus').html("Bill " + $("#idInput").val() + " deleted!");
      $('#responseBody').html("");
      },
      fail: (xhr, status, error) =>{
      $('#responseStatus').html(status);
      $('#responseBody').html(error);
      }
      });
      }
  body
    header
      h1 REST Client
    p Bill id: 
    input#idInput(value='1')
    br
    p Bill to POST (JSON): 
    textarea#body(style='width:500px; height: 400px;', placeholder='Please refer to billExample.txt for an example of proper JSON format')
    br
    button(onclick='getAll()') GET all bills
    br
    button(onclick='getBill()') GET a bill
    br
    button(onclick='postBill()') POST bill
    br
    button(onclick='deleteBill()') DELETE bill
    br
    button(onclick='deleteAll()') DELETE all bills
    br
    p Response status:
    p#responseStatus
    p Response body:
    p#responseBody
